<!--文件上传-->

<button nz-button nzType="primary" (click)="showModal()">
  <span>添加</span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Modal Title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">

  <nz-form-label [nzSpan]="7" nzRequired>章节</nz-form-label>
  <nz-form-control [nzSpan]="12" nzHasFeedback>
    <!--知识点选择-->
    <div>
      <nz-select
        style="width: 200px;"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a knowledge"
        [(ngModel)]="selectedKnowledge"
        (ngModelChange)="log($event)"
      >
        <nz-option *ngFor="let p of knowledgeData;" [nzLabel]="p.label" [nzValue]="p.value"></nz-option>
      </nz-select>
    </div>
    <!--类型选择-->
    <div>
      <nz-radio-group [(ngModel)]="radioValue" [nzButtonStyle]="'solid'">
        <label nz-radio-button nzValue="0">视频</label>
        <label nz-radio-button nzValue="1">PDF</label>
        <label nz-radio-button nzValue="2">其他文件</label>
      </nz-radio-group>
    </div>
  </nz-form-control>

  <nz-form-label [nzSpan]="7" nzRequired>资源</nz-form-label>
  <div>
    <nz-upload
      [(nzFileList)]="fileList"
      [nzBeforeUpload]="beforeUpload"
      [nzLimit]="0"
      (nzChange)="logFile($event)">
      <button nz-button>
        <i nz-icon type="upload"></i><span>上传文件</span>
      </button>
    </nz-upload>
  </div>
</nz-modal>
<!--test-->
<nz-tabset>
  <nz-tab nzTitle="视频">
    <nz-list
      [nzDataSource]="data"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction><i nz-icon type="star-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #msgAction>
            <button nz-button nzType="danger" (click)="deleteOne(item.id)">删除</button>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description">
            <ng-template #nzTitle><a href="" (click)="download(item.id,item.title);false">{{item.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="videoLength"
                       (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>
  <nz-tab nzTitle="在线PDF">
    <nz-list
      [nzDataSource]="data1"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination1"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction><i nz-icon type="star-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #msgAction>
            <button nz-button nzType="danger" (click)="deleteOne(item.id)">删除</button>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description">
            <ng-template #nzTitle><a href="" (click)="download(item.id,item.title);false">{{item.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>
      <!--  <ng-template #footer>-->
      <!--    <div><b>ant design</b> footer part</div>-->
      <!--  </ng-template>-->

      <!--分页-->
      <ng-template #pagination1>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="pdfLength"
                       (nzPageIndexChange)="loadData2($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>
  <nz-tab nzTitle="其他下载">
    <nz-list
      [nzDataSource]="data2"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination2"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction><i nz-icon type="star-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> 156</ng-template>
          <ng-template #msgAction>
            <button nz-button nzType="danger" (click)="deleteOne(item.id)">删除</button>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description">
            <ng-template #nzTitle><a href="" (click)="download(item.id,item.title);false">{{item.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>
      <!--  <ng-template #footer>-->
      <!--    <div><b>ant design</b> footer part</div>-->
      <!--  </ng-template>-->

      <!--分页-->
      <ng-template #pagination2>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="otherLength"
                       (nzPageIndexChange)="loadData3($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>
</nz-tabset>





