<!--文件上传-->
<button nz-button nzType="primary" (click)="showModal()">
  <span>添加</span>
</button>
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="添加资源"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="majorName">
        专业名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 200px;"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="选择专业"
          [(ngModel)]="selectedCollege"
          (nzBlur)="getCourseList()"
          formControlName="majorName"
          id="majorName"
        >
          <span *ngFor="let item of listOfCollege;let i=index">
          <nz-option nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
          </span>
        </nz-select>
        <nz-form-explain
          *ngIf="
            validateForm.get('majorName')?.dirty &&
            validateForm.get('majorName')?.errors
          ">
          专业必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="courseName">
        课程名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 200px;"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="选择课程"
          [(ngModel)]="selectedCourse"
          (nzBlur)="getKnowledgeList()"
          formControlName="courseName"
          id="courseName"
        >
          <span *ngFor="let item of listOfCourse;let i=index">
          <nz-option nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
          </span>
        </nz-select>
        <nz-form-explain
          *ngIf="
            validateForm.get('courseName')?.dirty &&
            validateForm.get('courseName')?.errors
          ">
          课程必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="knowledgeName">
        知识点名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 200px;"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="选择知识点"
          [(ngModel)]="selectedKnowledge"
          formControlName="knowledgeName"
          id="knowledgeName"
        >
            <span *ngFor="let item of listOfKnowledges;let i=index">
            <nz-option nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
            </span>
        </nz-select>
        <nz-form-explain
          *ngIf="
              validateForm.get('knowledgeName')?.dirty &&
              validateForm.get('knowledgeName')?.errors
            ">
          知识点必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>类型</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <!--类型选择-->
        <div>
          <nz-radio-group [(ngModel)]="selectedType" [nzButtonStyle]="'solid'" formControlName="typeName">
            <label nz-radio-button nzValue="0">视频</label>
            <label nz-radio-button nzValue="1">PDF</label>
            <label nz-radio-button nzValue="2">其他文件</label>
          </nz-radio-group>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>资源</nz-form-label>
      <div>
        <nz-upload
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload"
          [nzLimit]="0"
          (nzChange)="logFile($event)">
          <button nz-button>
            <i nz-icon type="upload"></i><span>上传文件</span>
          </button>
        </nz-upload>
      </div>
    </nz-form-item>
  </form>
</nz-modal>
<!--资源列表-->
<nz-tabset>

  <nz-tab nzTitle="视频">
    <nz-list
      [nzDataSource]="data"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item1"
      [nzPagination]="pagination"
    >
      <ng-template #item1 let-item1>
        <nz-list-item [nzContent]="item1.content" [nzActions]="[starAction,msgAction,part13]" [nzExtra]="extra">
          <ng-template #starAction>
            <i nz-icon type="star-o" style="margin-right: 8px;"></i>
          </ng-template>
          <ng-template #msgAction>

            <span *ngIf="item1.visible">{{item1.startTime}} -- {{item1.endTime}}</span>
            <span *ngIf="!item1.visible">
              <button nz-button nzType="default"
                      (click)="showModal1(item1.id,item1.knowledgeId)">添加起始时间
              </button>
            </span>

          </ng-template>
          <ng-template #part13>
            <button nz-button nzType="danger" (click)="deleteOne(item1.id,0,item1.knowledgeId)">删除</button>
          </ng-template>

          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item1.description">
            <ng-template #nzTitle><a href="" (click)="download(item1.id,item1.title);false">{{item1.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="videoLength"
                       (nzPageIndexChange)="loadData($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>

  <nz-tab nzTitle="在线PDF">
    <nz-list
      [nzDataSource]="data1"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzPagination]="pagination1"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.content" [nzActions]="[starAction1,msgAction]" [nzExtra]="extra">
          <ng-template #starAction1><i nz-icon type="star-o" style="margin-right: 8px;"></i> 156</ng-template>

          <ng-template #msgAction>
            <button nz-button nzType="danger" (click)="deleteOne(item.id,1,item.knowledgeId)">删除</button>
          </ng-template>


          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description">
            <ng-template #nzTitle><a href="" (click)="download(item.id,item.title);false">{{item.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination1>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="pdfLength"
                       (nzPageIndexChange)="loadData2($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>

  <nz-tab nzTitle="其他下载">
    <nz-list
      [nzDataSource]="data2"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item2"
      [nzPagination]="pagination2"
    >
      <ng-template #item2 let-item2>
        <nz-list-item [nzContent]="item2.content" [nzActions]="[starAction2,msgAction]" [nzExtra]="extra">
          <ng-template #starAction2><i nz-icon type="star-o" style="margin-right: 8px;"></i> 100</ng-template>
          <ng-template #msgAction>
            <button nz-button nzType="danger" (click)="deleteOne(item2.id,2,item2.knowledgeId)">删除</button>
          </ng-template>


          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item2.description">
            <ng-template #nzTitle><a href="" (click)="download(item2.id,item2.title);false">{{item2.title}}</a>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
          </ng-template>
        </nz-list-item>
      </ng-template>

      <!--分页-->
      <ng-template #pagination2>
        <nz-pagination [nzPageIndex]="1" [nzTotal]="otherLength"
                       (nzPageIndexChange)="loadData3($event)"></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-tab>
</nz-tabset>
<!--资源时间模态框-->
<nz-modal [(nzVisible)]="isVisible1" nzTitle="添加时间" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
  <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>
</nz-modal>
