<button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="initReport()">
  <i nz-icon type="edit"></i>生成报告
</button>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="getReport()">
  <i nz-icon type="download"></i>下载报告
</button>
<div echarts [options]="chartOption" class="demo-chart"></div>
<div echarts [options]="chartOption2" class="demo-chart"></div>

<nz-upload [nzBeforeUpload]="beforeUpload" [nzLimit]="1"
           nzAction="{{attendenceUrl}}">
  <button nz-button nzType="primary">
    <i nz-icon type="upload"></i><span>上传考勤表</span>
  </button>
</nz-upload>
<nz-upload [nzLimit]="1"
           nzAction="{{finalWorkUrl}}">
  <button nz-button nzType="default">
    <i nz-icon type="upload"></i><span>上传大作业成绩</span>
  </button>
</nz-upload>
<button nz-button nzType="default">下载考勤表模板</button>
<button nz-button nzType="default">导出成绩表</button>

<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>达成度</th>
    <th>测试均分</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.student.studentNumber}}</td>
    <td>{{item.student.name}}</td>
    <td>{{item.selfPercent * 100}}%</td>
    <td>
      {{item.average|number:'.2'}}
    </td>
  </tr>
  </tbody>
</nz-table>
